

<h1>Home#index</h1>

<hr>

<% if user_signed_in?%>

    <%= render "publications/form", publication: @publication %>
  
<% end %>

<hr>



<div class="row">
<% @publications.each do |publication| %>
<div class="col-12 border border-info p-3 mt-2">
    <%= publication.content %> 
    <hr>
    <div class="float-right">
       <%= publication.likes.count %> likes / 0 republicaciones
    </div>
</div>

<%end %>
</div>


